<div class="page-header">
	<h1>On going events</h1>
</div>
<div class="row">
	<div class="col-xs-5">
		<a href="#/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Event</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for an event">
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row" ng-switch on="Events.length">
	<ul ng-switch-when="0">
		<li><em>No events in databases. Would you like to <a href="#/new">create one</a>?</li>
	</ul>
	<ul ng-switch-default>
		<table class="table table-striped">
			<thead>
				<td>Club</td>
				<td>Event Name</td>
			</thead>
				<tr ng-repeat="event in Events | filter:{open: '!!', event.name:query}">
					<td><a href="#/event/{{event._id}}">{{event.club}}</a></td>
					<td><a href="#/event/{{event._id}}">{{event.name}}</a></td>
				</tr>
		</table>
	</ul>
</div>
<p>&nbsp;</p>