<div class="page-header">
	<h1>Create New Event</h1>
</div>

<form class="form-horizontal css-form" role="form" ng-submit="createEvent()" ng-controller="EventNewCtrl">
	<div class="form-group">
		<label for="EventQuestion" class="col-xs-3">Event (required)</label>
		<input type="text" ng-model="Event.name" class="form-control col-xs-9" id="EventQuestion" placeholder="Enter Event Name" required>
	</div>
	
	<div class="form-group">
		<label for="EventClub" class="col-xs-3">Club Name (required)</label>
		<input type="text" ng-model="Event.club" class="form-control col-xs-9" id="EventClub" placeholder="Enter Club Name" required>
	</div>

	<div class="form-group">
		<label for="EventClub" class="col-xs-3">Password (required)</label>
		<input type="text" ng-model="Event.pw" class="form-control col-xs-9" id="EventClub" placeholder="Use this to open/close the event" required>
	</div>

	<div class="checkbox">
		<label>
	    	<input type="checkbox" ng-model="Event.open" value="">
	    		This event is currently going on!
	  	</label>
	</div>	
	<br />
	<div class="row">
		<div class="col-xs-6">
			<a href="#/events" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Event List</a>
		</div>
		<div class="col-xs-6">
			<button class="btn btn-primary pull-right" type="submit">Create Event &raquo;</button>
		</div>
	</div>
</form>